@model ASP.NETCoreIdentityCustom.Models.Toner

@{
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="app-content content ">
   <div class="content-overlay"></div>
   <div class="header-navbar-shadow">
         <div style="display: flex; justify-content: center; align-items: center; margin-left: auto; margin-right: auto;">
         <img src="~/app-assets/images/banner/photo_kk.png" alt="" srcset="" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" />
        </div>
   </div>
   <div class="content-wrapper container-xxl p-0">

     <div class="col-md-6 offset-3 col-6">
       <div class="card">
            @if (ViewData["msg"] != null) 
            { 
               <p class="alert alert-danger">@ViewData["msg"]</p> 
            }
         <div class="card-header"> 
           <h4 class="card-title">Toner Infromation</h4>
         </div>
         <div class="card-body">
           <form class="form form-vertical"  asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="row">
               <div class="col-12">
                  <div class="mb-1">
                    <label class="form-label" for="first-name-icon">Toner Model</label>
                    <div class="input-group input-group-merge">
                       <input asp-for="TonarModel" class="form-control" placeholder="Enter Toner Model" required >
                       <span asp-validation-for="TonarModel" class="text-danger"></span>
                    </div>
                  </div>
               </div>
               <div class="col-12">
                 <div class="mb-1">
                   <label class="form-label" for="email-id-icon">Type</label>
                   <div class="input-group input-group-merge">
                    <select asp-for="Type" required class="form-control">
                      <option value="" >Select toner type</option>
                      <option value="false" >Black & White</option>
                      <option value="true" >Color</option>
                    </select>
                   </div>
                 </div>
               </div>
               <div class="col-12">
                 <div class="mb-1">
                   <label class="form-label" for="email-id-icon">Description</label>
                   <div class="input-group input-group-merge">
                    <textarea asp-for="Description" class="form-control" placeholder="Write a description here" required ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                   </div>
                 </div>
               </div>
               <div class="col-12">
                   <input type="submit" value="Save" class="btn btn-primary" />
                   <a asp-action="Index"class="btn btn-secondary">Back</a>
               </div>
             </div>
           </form>
         </div>
        </div>
     </div>
   </div>
 </div>

