@model ASP.NETCoreIdentityCustom.Models.Customer

@{
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<div class="app-content content ">
   <div class="content-overlay"></div>
   <div class="header-navbar-shadow">
        
   </div>
   <div class="content-wrapper container-lg p-0">
        <div style="display: flex; justify-content: center; align-items: center; margin-left: auto; margin-right: auto;">
         <img src="~/app-assets/images/banner/photo_kk.png" alt="" srcset="" style=" display: block; margin-left: auto; margin-right: auto; width: 20%;" />
        </div>

                       <div class="col-md-6 offset-3 col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Customer Infromations</h4>
                                </div>
                                <div class="card-body">
                                    <form class="form form-vertical" asp-action="Create">
                                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-1">
                                                   
                                                    <label class="form-label" for="first-name-icon">Customer Name</label>
                                                    <div class="input-group input-group-merge">
                                                       <input asp-for="CustomerName" class="form-control"placeholder="Customer Name" required >
                                                       <span asp-validation-for="CustomerName" class="text-danger"  ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="email-id-icon">Address</label>
                                                    <div class="input-group input-group-merge">
                                                       <input asp-for="Address" class="form-control" placeholder="Enter Address" required>
                                                       <span asp-validation-for="Address" class="text-danger" ></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="contact-info-icon">Phone</label>
                                                    <div class="input-group input-group-merge">
                                                       <input asp-for="Phone" class="form-control" placeholder="Enter Phone No:" required>
                                                       <span asp-validation-for="Phone" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                 <input type="submit" value="Create" class="btn btn-primary" />
                                                 <a asp-action="Index"class="btn btn-secondary">Back</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                                    </div>
                            </div>
                        </div>

